main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  margin-top: 20px;
  width: calc(100vw - 162px);
  justify-items: center;
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

.mainContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
